.wrapper {
    margin: 100px 300px 0px 100px;
}

.tease-part {
    width: 40%;
    margin-left: 10%;
}

.image-part {
    width: 40%;
    float: right;
}

.description-part {
    width: 40%;
    margin-left: 10%;
}

.description-part p {
    width: 70%;
}

.characteristics-part {
    margin: auto;
    width: 80%;
}

#detail-photo {
    width: 100%;
}